<p>@Model.Ip</p>
<table width="100%" cellspacing="0" cellpadding="0" style="border: 2px solid #000000">
    <tbody>
        <tr>
            <td>
                <table width="100%" cellspacing="0" cellpadding="0">
                    <tbody style="text-align:center;">
                        <tr>
                            <td colspan="8" height="10" bgcolor="#FFFFFF"
                                style="border-bottom: 1px solid #000000; text-align: center; ">
                                <font size="1" face="Verdana">
                                    <b>
                                        DISCRIMINAÇÃO DOS DÉBITOS
                                    </b>
                                </font>
                            </td>
                        </tr>
                        <tr>
                            <td width="230" bgcolor="#FFFFFF">
                                <font size="1" face="Verdana"
                                    style="word-break: break-word; font-size: xx-small; text-align: center;">
                                    <b>Serviços</b>
                                </font>
                            </td>
                            <td bgcolor="#FFFFFF"
                                style="border-left: 1px solid #000000; font-size: xx-small; text-align: center;">
                                <font size="1" face="Verdana">
                                    <b>Vencimento Original</b>
                                </font>
                            </td>
                            <td bgcolor="#FFFFFF"
                                style="border-left: 1px solid #000000; font-size: xx-small; text-align: center;">
                                <font size="1" face="Verdana">
                                    <b>Valor Nominal (R$)</b>
                                </font>
                            </td>
                            <td bgcolor="#FFFFFF"
                                style="border-left: 1px solid #000000; font-size: xx-small; text-align: center;">
                                <font size="1" face="Verdana">
                                    <b>Valor Corrigido (R$)</b>
                                </font>
                            </td>
                            <td bgcolor="#FFFFFF"
                                style="border-left: 1px solid #000000; font-size: xx-small; text-align: center;">
                                <font size="1" face="Verdana">
                                    <b>Desconto (R$)</b>
                                </font>
                            </td>
                            <td bgcolor="#FFFFFF"
                                style="border-left: 1px solid #000000; font-size: xx-small; text-align: center;">
                                <font size="1" face="Verdana">
                                    <b>Juros (R$)</b>
                                </font>
                            </td>
                            <td bgcolor="#FFFFFF"
                                style="border-left: 1px solid #000000; font-size: xx-small; text-align: center;">
                                <font size="1" face="Verdana">
                                    <b>Multa (R$)</b>
                                </font>
                            </td>
                            <td bgcolor="#FFFFFF"
                                style="border-left: 1px solid #000000; font-size: xx-small; text-align: center;">
                                <font size="1" face="Verdana">
                                    <b> Valor a Pagar (R$)</b>
                                </font>
                            </td>
                        </tr>
                        @Model.Servicos
                        <tr>
                            <td colspan="7" bgcolor="#FFFFFF"
                                style="border-top: 1px solid #000000; font-size: xx-small; text-align: right;">
                                <font size="1" face="Verdana">
                                    <b>Total a Pagar&nbsp;&nbsp;</b>
                                </font>
                            </td>
                            <td colspan="1" bgcolor="#FFFFFF"
                                style="border-left: 1px solid #000000; border-top: 1px solid #000000; font-size: xx-small; text-align: right;">
                                <font size="1" face="Verdana">
                                    <b>1293,47</b>
                                </font>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>